.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    background-image: url('/public/img/BackGround/Home.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100rlh;
    position: relative; 
    flex-direction: column;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
