.title {
    display: flex; 
    justify-content: center;  
    align-items: center; 
    margin: 0 auto;
    position: fixed;
    top: 30px;
    width: 60%;
    z-index: 4;
}

.title h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}

.starL, .starR {
    width: 20em;
    height: auto;
}

