.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 68px;
    background-color: #f9f9f9;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid #888888;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
    box-sizing: border-box; 
}

.content_left, .content_right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icons{
    transition: transform 0.2s ease-in;
}

.icons:hover{
    transform: scale(1.1);
}
.content_center {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    width: 40%;
    max-width: 50%;
}



.opcoes {
    height: 23px;
    width: 31px;
}

.imgLogo {
    width: 139px;
    height: 40px;
}




.searchContainer {
    position: relative;
    width: 100%;
    
}

.searchInput {
    width: 100%;
    padding: 10px;
    padding-right: 70px;
    border: 1.5px solid rgb(168, 168, 168);
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.searchButton {
    position: absolute;
    top: 50%;
    right: -70px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    border-left: solid black 1px;
}

.searchButton::before{
    content: "";
    margin-right: 5px;
}

.searchButton img {
    width: 20px;
    height: 20px; 
}


.content_right img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.content_right img:hover {
    opacity: 0.8;
}

.imgLogo{
    transition:  all 0.3s ease;
}
.imgLogo:hover{
    scale: calc(1.008);
}