/* Header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

/* Lado esquerdo: logo e opções */
.content_left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
}

.opcoes {
    height: 23px;
    width: 31px;
}

.imgLogo {
    width: 139px;
    height: 40px;
}

/* Centro: campo de busca */
.content_center {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.searchContainer {
    position: relative;
    width: 440px;
    
}

.searchInput {
    width: 100%;
    padding: 10px 5px;
    border: 1.5px solid black;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    text-align: center;
    
}

.searchButton {
    position: absolute;
    top: 50%;
    right: -8px; /* Posiciona o botão dentro do campo */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.searchButton img {
    width: 20px;
    height: 20px; 
}



/* Lado direito: ícones de ação */
.content_right {
    display: flex;
    gap: 35px;
    
}

.content_right img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.content_right img:hover {
    opacity: 0.8;
}
